<div class="item-content">
  <img src="{{treeImageSrc}}">
  <div class="overlay" {{action 'showInModal' tree}}></div>

  <div class="caption">
    <p>{{tree.name}}</p>

    <div class="actions">
      <button class="btn btn-subtle {{if liked 'active'}}"
              {{action 'like' tree}}>
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      </button>

      <button class="btn btn-subtle {{if desliked 'active'}}"
              {{action 'deslike' tree}}>
        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
